/* common values stored in variable in hierarchically topmost element HTML but with higher specificity */
:root {

}

/* wildcard selector for css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Heebo", "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #21243D;
}

body > div {
    width: 100%;
}

.container {
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

#header .container{

    nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 40vw;
        text-align: center;
        background-color: #f5f5f5;

        a:first-child {
            margin-top: 3rem
        }

        a {
            font-weight: 500;
            font-size: 20px;
            text-decoration: none;
            color: #000;
            display: block;
            padding: 1rem 0;
        }
    };

    .menu-hamburger.open + nav {
        display: block;
        transition: display 2s ease-out;
    }
}

.menu-hamburger {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 1;
}

.menu-hamburger:hover {
    background-color: #f5f5f5;
    z-index: 2;
    box-shadow: 2 3 10% #000;
}

p {
    font-weight: 400;
    line-height: 23.5px;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 38.10px;
}

h2 {
    font-size: 30px;
    line-height: 44.06px;
    font-weight: 700;
}

label {
    display: block;
    font-size: 22px;
}

#hero .container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    .intro {
        text-align: center;
        h1 {
            font-size: 44px;
            font-weight: 700;
            line-height: 60px;
        }
        button {
            background-color: #FF6464;
            color: #fff;
            font-size: 20px;
            padding: 0.5rem 1.2rem;
            border: none;
            font-weight: 500;
            cursor: pointer;
            border-radius: 4px;
        }
    }
    .intro > * {
        margin-top: 2rem;
    }
}

#posts {
    background-color: #EDF7FA;
    .container {
        .recent-posts {
            padding-top: 1rem;
            padding-bottom: 2rem;
            .section-heading {
                display: flex;
                padding-bottom: .5rem;
                justify-content: center;
                a {
                    display: none;
                    text-decoration: none;
                    color: #00A8CC;
                }
            }
            .section-posts {
                display: flex;
                flex-direction: column;
                align-items: center;
                article {
                    width: 100%;
                    max-width: 20rem;
                    min-width: 15rem;
                    background-color: #fff;
                    padding: 1.5rem 1rem;
                    border-radius: 4px;
                    margin: .5rem .5rem;
                }
                .article-heading {
                    padding-bottom: 1rem;
                }
                .article-description {
                    padding-top: 1rem;
                }
                .article-time {
                    padding-right: 1rem;
                    border-right: 1px solid #000;
                }
                .article-category {
                    padding-left: 1rem;
                }
            }
        }
    }
}

#work {
    .container {
        .featured-work {
            padding: 1rem 0;
            .work-header {
                margin-bottom: .5rem;
                text-align: center;
            }
            .work-list {

                article {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: .5rem;
                    margin-bottom: 2rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #E0E0E0;
                    width: 17rem;
                    margin-left: auto;
                    margin-right: auto;

                    .article-img {
                        width: 250px;
                        height: 180px;
                        object-fit: cover;
                    }
                    .article-desc {
                        margin: 1rem;
                        .work-year {
                            background-color: #142850;
                            color: #fff;
                            padding: 0 .5rem;
                            border-radius: 50px;
                            font-size: 18px;
                            font-weight: 900;
                            line-height: 60px;
                            margin-right: 1rem;
                        }
                        .work-category {
                            color: #8695A4;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    /* same structure because of specificity */
    #header .container{
        nav {
            background-color: unset;
            display: block;
            position: relative;
            height: unset;
            width: 100%;
            text-align: right;
            a {
                display: inline-block;
                padding: 1rem;
            }
            a:first-child {
                margin: 0;
            }
        }
    }

    .menu-hamburger {
        display: none;
    }

    #hero .container {
        flex-direction: row-reverse;
        .photo {
            margin-left: 1.2rem;
        }
        .intro {
            text-align: initial;
            margin-right: 1.2rem;
            h1 {
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
            }
        }
        .intro > * {
            margin-top: 2rem;
        }
    }

    #posts {
        background-color: #EDF7FA;
        .container {
            .recent-posts {
                .section-heading {
                    justify-content: space-between;
                    a {
                        display: block;
                    }
                }
                .section-posts {
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    article:first-of-type {
                        margin-left: 0;
                    }
                    article:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    #work {
        .container {
            .featured-work {
                .work-header {
                    text-align: left;
                }
                .work-list {
                    article {
                        flex-direction: row;
                        width: auto;
                    }
                }
            }
        }
    }

}